@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject StateContainer StateContainer

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="@LinkAddress">@LinkText</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string LinkText => NavManager.Uri.EndsWith("/game/options") ? "HOME" : "Options";
    private string LinkAddress => NavManager.Uri.EndsWith("/game/options") ? "/" : "/game/options";
}
